@model IEnumerable<EventApplication.Models.Event>

<div id="searchresults">
    <table>
        <tr>
            <th>Title</th>
            <th></th>
            <th>Start Date</th>
            <th></th>
            <th>City</th>
            <th></th>
            <th>State</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.ActionLink(item.Title, "Details", new { id = item.EventId })</td>
            <td></td>
            <td>@item.StartDate</td>
            <td></td>
            <td>@item.City</td>
            <td></td>
            <td>@item.State</td>
            <td></td>
        </tr>
        }
    </table>
</div>
