@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel-body">

    <h2>Here is the list of albums</h2>

    <ul>
        @foreach (var item in Model)
        {
            <li>
                @Html.ActionLink(item.Title, "Details", new { id = item.AlbumId })
            </li>
        }
    </ul>

    <div>
        @Html.ActionLink("Back to Browse", "Browse")
    </div>

</div>